
.container{
    display: flex;
    flex-direction: row;
    height:100vh;
    font-size: 80px;
    text-align: center;
    
}
.container1{
    /* align-items: center; */
    
}
.container2{
    display: grid;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img8";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
    width: 50%;
    
}

.i1{
    grid-area: img1;
}
.i2{
    grid-area: img2;
}
.i3{
    grid-area: img3;
}
.i4{
    grid-area: img4;
}
.i5{
    grid-area: img5;
}
.i6{
    grid-area: img6;
}
.i7{
    grid-area: img7;
}
.i8{
    grid-area: img8;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    height:100vh;
    color: white;
    border: 15px solid gold;
    /* width: 50%; */

}
.container3 div{
    
    width: 23.5%;
    /* margin: 10px; */
    padding: 10px;
    text-align: center;  
    font-size: 120px;

}

.container5{
    border: 15px solid gold;

}
.container4 {
    display: grid;
    grid-template-areas:
    "top top "
    "midl midr "
    "bottom bottom";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:15px;
    height: 100vh;
}

.top {
    grid-area:top;
    background: black;
}
.midl {
    grid-area: midl;
    background-color: darkorange;
    height: 400px;
}
.midr {
    grid-area: midr;
    background: green;
    height: 400px;

}
.bottom{
    grid-area: bottom;
    background-color: blue;
}
.first{
    flex-grow: 1;
    background-color: orange;
    color: white;
    align-items: center;
    padding-top:250px ;
}
.second{
    flex-grow: 1;
    background-color: blue;
    color: white;
    align-items: center;
    padding-top:250px ;

}
.box1{
    background-color:green ;
    color: white;
    flex-grow: 1;
    
}
.box2{
    background-color:yellow ;
    color: white;
    flex-grow: 1;
    
}
.box3{
    background-color:purple ;
    color: white;
    flex-grow: 1;
    
}
.box4{
    background-color:grey ;
    color: white;
    flex-grow: 1;
    
}
.box5{
    background-color:blue ;
    color: white;
    flex-grow: 1;
    
}
.box6{
    background-color:orange ;
    color: white;
    flex-grow: 1;
    
}
.box7{
    background-color:pink ;
    color: white;
    flex-grow: 1;
    
}
.box8{
    background-color:red ;
    color: white;
    flex-grow: 1;
    
}
.box9{
    background-color:brown ;
    color: white;
    flex-grow: 1;
    
}
